body {
    font-family: 'Karma', serif;
    background-color: #EEE6AB;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

.position-row{
    display: flex;
    flex-direction: row;
}

.subcursos-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
}

.subcurso-card {
    background: #45484B;
    border: 8px solid #333;
    border-radius: 12px;
    padding: 25px 30px;
    width: 350px;
    color: white;
    text-align: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.subcurso-card h3{
    font-size: 1.7rem;
}

.subcurso-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.subcurso-img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
}

.btn-ver-curso {
    background-color: #C5BC8E;
    border: 2px solid #9F7638;
    color: #45484B;
    font-family: 'Karma', serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.btn-ver-curso:hover {
    background-color: #9F7638;
    color: #EEE6AB;
}

.subtitulo{
    font-size: 1.3rem;
}

.professor{
    font-size: 2em;
    margin-top: 40px;
}

h2{
    font-size: 1.9rem;
}

.descricao-curso{
    font-size: 1.3rem;
    margin-top: 10px;
}

.info-curso{
    font-size: 1.2rem;
    width: 630px;
}

.nome-professor{
    font-size: 1.6rem;
    margin-top: 20px;
}

/* CARD SELECIONADO CENTRALIZADO */
#card-curso-selecionado {
      display: none;
      background: #333;
      color: #fff;
      padding: 30px;
      margin: 40px auto;
      max-width: 800px;
      border-radius: 10px;
      gap: 20px;
      flex-direction: column;
      border: #222 solid 8px;
    }
    .curso-img {
      width: 650px;
      height: 450px;
      margin-bottom: 10px;
      border-radius: 6px;
    }
    .professor-img {
      width: 650px;
      height: 400px;
      margin-top: 20px;
      border-radius: 6px;
      object-fit: cover;
    }