@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karma', serif;
}

body {
    font-family: 'Karma', serif;
    background-color: #EEE6AB; /* fundo amarelo claro */
    color: #222;
}

header{
    background-color: #1E1E1E;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    margin: 0;
}

.header-left{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

.header-left p{
    font-size: 1.3rem;
    color: #b4b4b4;
    font-weight: 600;
    position: relative;
    top: 7px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-left p:hover {
    transform: translateY(-3px);
    color: white;
}

.img-header-title{
    width: 150px;
    margin-left: 70px;
}

.btn-header-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-header-entrar {
    color: #45484B;
    border: none;
    padding: 30px 40px;
    font-size: 1rem;
    background-color: white;
    position: relative;
    transition: color 0.3s;
    cursor: pointer;
}

.btn-header-entrar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: #1E1E1E;
    z-index: 1;
    color: white;
    transition: height 0.3s;
}

.btn-header-entrar:hover::after {
    height: 100%;
}

.btn-header-entrar:hover {
    color: #fff;
}

.btn-header-entrar span {
    position: relative;
    z-index: 2;
}

.btn-header-cadastro {
    color: #B9B9B9;
    background-color: #1E1E1E;
    border: none;
    border-right: 4px solid #B9B9B9;
    padding: 33px 40px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
    cursor: pointer;
}

.btn-header-cadastro::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background: #fff;
    z-index: 1;
    transition: height 0.3s;
}

.btn-header-cadastro:hover::after {
    height: 100%;
}

.btn-header-cadastro:hover {
    color: #222;
}

.btn-header-cadastro > *,
.btn-header-cadastro {
    position: relative;
    z-index: 2;
}




/* Seções dos planos */
